body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
.navbar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #262626;
  width: 100%;
  z-index: 1;
}
.nav{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 5%;
}
.logo{
  flex: 1 1 auto;
  margin-left: 5%;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

a{
  margin: 15px;
  color: whitesmoke;
  text-decoration: none;
  text-transform: lowercase;
}

a:hover{
  color: #E9458A;
}

.banner-area{
  /* background-image: url('Desen-01.png'), linear-gradient(to right,rgb(152, 197, 197),rgb(152, 197, 197));
  position: relative; */
  /* background-image:url(coverpic.jpg); */
  /* background-image: url(Desen-01.png) center no-repeat ; */
  /* background-color: rgb(152, 197, 197); */
  /* background-size: cover, contain;
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat; */


  
  /* background-image: url('Ilustratie\ stiintifica-01.png');
  background-color:rgb(152, 197, 197);
  background-position: center;

  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  
  background-size:cover;
  opacity: 0.5; */
}

.text-part{
  width: 65%;
  height: 80%;
}


h1{
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

p{
  font-size: 24px;
  line-height: 50px;
}





html{
  scroll-behavior: smooth;
}




*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

.gallery-section{
  width: 100%;
  padding: 80px 0;
  background: rgb(152, 197, 197);
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: lowercase;
  color: whitesmoke;
}


.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}
